/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
:root{
  --primary-color:#026467;
  --secondary-color:#e5f5ea;
  --body-text-color:#596392;
  --navbar-footer-color:#f9f9f9;
}

.bg-theme{
  background-color: var(--primary-color);
}

.bg-secondary-theme{
  background-color: var(--secondary-color);
}

.btn-theme{
  background-color: var(--primary-color) !important;
  height: 58px;
  border: none !important;
  font-size:14px;
  color: var(--secondary-color) !important;
  /* width: 100%; */
}

